.logo{
  border-bottom:1px solid #e0e0e0;
  padding:10px;
  width:100%;
}
.menu-toggle{
  border-left:1px solid #e0e0e0;
}
.menutoggle::after {
  top: 5px; /* how far from top */
  right: 0;
  width: 0;
  height: 90%; /* shorter than full height */
}
